.ctoken {
  flex-shrink: 0;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border-radius: 50%;
  background-image: url('/images/ctoken_blank.svg');
  width: 3.375rem;
  height: 3.375rem;

  &--small {
    width: 26px;
    height: 26px;
  }

  &--cAAVE {
    background-image: url('/images/ctoken_aave_product.svg');
  }

  &--cAMPL {
    background-image: url('/images/ctoken_ampl.svg');
  }

  &--cBAT {
    background-image: url('/images/ctoken_bat_product.svg');
  }

  &--cCOMP {
    background-image: url('/images/ctoken_comp_product.svg');
  }

  &--cDAI {
    background-image: url('/images/ctoken_dai_product.svg');
  }

  &--cETH {
    background-image: url('/images/ctoken_eth_product.svg');
  }

  &--cFXC {
    background-image: url('/images/ctoken_fxc.svg');
  }

  &--cHT {
    background-image: url('/images/ctoken_ht.svg');
  }

  &--cLINK {
    background-image: url('/images/ctoken_link_product.svg');
  }

  &--cLOOM {
    background-image: url('/images/ctoken_loom.svg');
  }

  &--cMANA {
    background-image: url('/images/ctoken_mana.svg');
  }

  &--cMKR {
    background-image: url('/images/ctoken_mkr_product.svg');
  }

  &--cNMR {
    background-image: url('/images/ctoken_nmr.svg');
  }

  &--cOMG {
    background-image: url('/images/ctoken_omg.svg');
  }

  &--cPAX {
    background-image: url('/images/ctoken_pax.svg');
  }

  &--cREP {
    background-image: url('/images/ctoken_rep_product.svg');
  }

  &--cSAI {
    background-image: url('/images/ctoken_sai_product.svg');
  }

  &--cSUSD {
    background-image: url('/images/ctoken_susd.svg');
  }

  &--cSUSHI {
    background-image: url('/images/ctoken_sushi_product.svg');
  }

  &--cTBTC {
    //TODO: We need a non-product logo for tbtc if we actually launch.
    background-image: url('/images/ctoken_tbtc_product.svg');
    &--product {
      background-image: url('/images/ctoken_tbtc_product.svg');
    }
  }

  &--cTUSD {
    background-image: url('/images/ctoken_tusd_product.svg');
  }

  &--cUNI {
    background-image: url('/images/ctoken_uni_product.svg');
  }

  &--cUSDC {
    background-image: url('/images/ctoken_usdc_product.svg');
  }

  &--cUSDT {
    background-image: url('/images/ctoken_usdt_product.svg');
  }

  &--cWBTC {
    background-image: url('/images/ctoken_wbtc_product.svg');
  }

  &--cWBTC2 {
    background-image: url('/images/ctoken_wbtc_product.svg');
  }

  &--cYFI {
    background-image: url('/images/ctoken_yfi_product.svg');
  }

  &--cZRX {
    background-image: url('/images/ctoken_zrx_product.svg');
  }
}
