@import 'variables';

.brand {
  display: inline-block;
  background-image: url(/images/compound-logo.svg); //TODO: See if we should move this?
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
  width: 121px;
  height: 27px;
}

.mark {
  display: inline-block;
  background-image: url(/compound-components/assets/compound-mark.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: transparent;
  width: 29px;
  height: 37px;
}

section.hero {
  background: $color_dark_1;
  margin-bottom: -3.75rem;
  padding: ($column-gutter * 0.95) 0 ($column-gutter * 5.5);
  h1 {
    margin: 0;
    padding-top: ($column-gutter * 3);
    color: #ffffff;
  }
}

.field {
  display: flex;
  justify-content: space-between;
  padding: $column-gutter;
  label {
    margin: 0;
  }
  .balance {
    text-align: center;
  }
  .subtitle {
    margin-top: 0.5rem;
    font-size: 0.9em;
    color: $color_label;
  }
}

//TODO: Let's see if we can kill this. Looks very out of place here and we should move it into a new modal primary action modal
//      component next.
input {
  border: none;
  border-radius: 5px;
  outline: 0;
  width: 100%;
  padding: 1rem;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 600;
  color: $color_dark_2;
  @include transition(all, 0.2s, linear);
}

input::placeholder {
  font-weight: 400;
  color: $color_label;
  padding-right: 1.6rem;
}

button:disabled {
  cursor: default;
}
input:disabled + button {
  display: none;
}

.alert {
  @include contrast($color_dark_1);
  border-bottom: 1px solid #000000;
  padding: $column-gutter;
  text-align: center;
  line-height: 1.5;
  font-size: 0.9em;
  &--dark2 {
    @include contrast($color_dark_2);
  }
  &.caution {
    @include contrast($color_caution);
  }
  &.vote {
    font-size: 14px;
    background-color: $color_dark_2;
    padding: $column-gutter;
  }
  a {
    color: $color_supply;
    font-size: 14px;
    font-weight: 500;
    margin-left: ($column-gutter / 2);
    text-transform: none;
    letter-spacing: 0;
    @include action-arrow;

    &.inline {
      margin-left: 0;

      &::after {
        content: none;
      }
    }
  }
  .button {
    margin-left: 1rem;
    padding: 0.2rem 0.9rem;
    text-decoration: none;
  }
}

select {
  width: 100%;
  border: 2px solid #747b7d;
  height: 3rem;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 600;
  outline: none;
}

.checkbox {
  display: flex;
  margin-bottom: $column-gutter;
  touch-action: manipulation;
  input[type='checkbox'] {
    width: auto;
    margin: 0 1rem 0 0;
    zoom: 2;
  }
  label {
    display: inline;
    margin: 0;
    user-select: none;
    font-size: 0.9rem;
    line-height: 1.25;
  }
}

.market-bar {
  font-size: 0.9rem;
  margin-top: 1rem;
  &.supply {
    color: $color_supply;
    .bar {
      background: $color_supply_light;
    }
    .fill {
      background: $color_supply;
    }
  }
  &.borrow {
    color: $color_borrow;
    .bar {
      background: $color_borrow_light;
    }
    .fill {
      background: $color_borrow;
    }
  }
  label {
    margin: 0;
  }
  .bar {
    width: 100%;
    height: 4px;
    margin-top: 0.5rem;
  }
  .fill {
    height: 4px;
  }
}

#repl {
  .row {
    p {
      margin-left: 30px;
      margin-right: 30px;
      overflow-x: scroll;
    }

    input,
    button {
      margin-left: 20px;
      margin-bottom: 10px;
    }
  }
}

.build-item {
  border-top: 1px solid mix($color_grey_1, #ffffff, 30%);
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 2rem 0 !important;
  transition: all 0.3s ease-in-out;
  label {
    width: 4rem;
  }

  .build-item-text {
    flex-grow: 1;
    margin: 0;
    color: $color_dark_2;
  }

  .build-item-text > * {
    pointer-events: auto;
  }

  &:hover {
    .build-item-text {
      color: $color_supply;
    }
  }
}
