name: Release Hash
on:
  workflow_dispatch:
    inputs:
      cid:
        name: cid
        description: IPFS Hash (if blank, pulled from build step)

      signature:
        name: Signature
        description: Signature (if blank, pulled via Seacrest)
jobs:
  build:
    name: Release Hash
    runs-on: ubuntu-latest
    environment: Production
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: '15.x'

      - name: Install Release Dependencies
        run: yarn install --ignore-optional --ignore-platform

      - name: Download artifact
        uses: dawidd6/action-download-artifact@v2
        with:
          github_token: ${{secrets.GITHUB_TOKEN}}
          workflow: build.yaml
          workflow_conclusion: success
          commit: ${{github.event.pull_request.head.sha}}
          name: .release
        if: github.event.inputs.cid == ''

      - name: Seacrest
        uses: hayesgm/seacrest@v1
        if: github.event.inputs.signature == ''

      - name: Push IPFS Release
        run: node scripts/release.js
        env:
          ETHEREUM_NODE: http://localhost:8585
          CID: "${{github.event.inputs.cid}}"
          SIGNATURE: "${{ github.event.inputs.signature }}"
